* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#heart {
  display: inline-block;
  margin: 100px;
  position: relative;
  animation: .2s x infinite alternate-reverse;
}

@keyframes x {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
.bottom, .left, .right {
  background: red;
}
#heart > .bottom {
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
}

#heart > .left {
  width: 50px;
  height: 50px;
  transform: rotate(45deg) translateX(-30px);
  border-radius: 50% 0 0 50%;
  position: absolute;
}

#heart > .right {
  width: 50px;
  height: 50px;
  transform: rotate(45deg) translateY(-30px);
  border-radius: 50% 50% 0 0;
  position: absolute;
}
